#root {
    text-align: center;
}

main {
    display: inline-block;
    text-align: left;
}

header {
    display: flex;
    align-items: center;
}

header .extension-name {
    margin-left: 8px;
    font-size: 2em;
}

#settings {
    display: grid;
    grid-template-columns: [labels] max-content [controls] max-content;
    margin: 8px;
    font-size: 1rem;
}

.label {
    grid-column: labels;
    padding: 4px 24px 4px 4px;
}

.control {
    grid-column: controls;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 4px;
}

.disabled {
    color: #808080;
}

.control > select {
    font-size: 1rem;
}

.control > input[type=checkbox] {
    transform: scale(1.25);
}

.label:nth-of-type(even), .control:nth-of-type(even) {
    background-color: #efefef;
}

section {
    font-size: 1rem;
}

section > h2 {
    font-weight: normal;
    font-size: 1.25em;
    margin: 8px 0;
}

.table-header {
    margin-bottom: -4px;
}

section > p {
    margin: 8px;
}

.version {
    color: #888;
}