:root {
    --joystick-size: 6px;
    --joystick-container-size: 100px;
    --options-button-height: 1.5rem;
}

body {
    width: 300px;
    height: 290px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
}

.joystick {
    display: inline-block;
    width: var(--joystick-container-size);
    height: var(--joystick-container-size);
    border: 1px solid lightgrey;
    border-radius: var(--joystick-container-size);
}

.joystick-dot {
    width: var(--joystick-size);
    height: var(--joystick-size);
    background-color: rgba(229, 9, 20);
    border: 1px solid black;
    border-radius: var(--joystick-size);
    position: relative;
}

.crosshair {
    width: calc(var(--joystick-container-size) + 2px);
    height: calc(var(--joystick-container-size) + 2px);
    margin-top: -9px;
    margin-left: -1px;
}

.crosshair .horizontal {
    border-top: 1px solid lightgray;
    margin-top: calc((var(--joystick-container-size) + 2px) / 2);
}

.crosshair .vertical {
    width: 1px;
    height: var(--joystick-container-size);
    border-left: 1px solid lightgray;
    margin-left: calc((var(--joystick-container-size) + 2px) / 2);
    margin-top: calc((var(--joystick-container-size) + 2px) / -2);
}

#no-standard-gamepad {
    color: red;
    display: none;
}

#gamepad-test {
    margin-bottom: var(--options-button-height);
}

footer {
    position: absolute;
    bottom: 0;
    height: var(--options-button-height);
    width: 100%;
    margin: 8px 0;
}

#options {
    height: var(--options-button-height);
}